
<carousel>
  <div class="image">
    <slide *ngFor="let item of itemArray">
      <div class="card" (click)="toggleCollapse()">
        <img class="center" src="../../assets/shutterstock_139468967.jpg" alt="Avatar">
        <div class="container">
          <h4><b>{{item.name}}</b></h4>
          <p>{{item.address}}</p>
        </div>
      </div>

    </slide>
  </div>
</carousel>

<app-info *ngIf="!isCollapsed"></app-info>
<!--$key: "-LY4wIALc9c3EZUH0DFE"-->
<!--address: "xxxxxxxxxxxx"-->
<!--date: "2019-02-22"-->
<!--faculty: "4"-->
<!--name: "xxxxxxxxxx"-->
<!--phone: "xxxxxxxxxxxx"-->
